<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	{% load static %}
	<link rel="icon" href="{% static "/images/png/logo.png" %}" type="image/png">
	<title>Register</title>
	{% load static %}
	<link rel="stylesheet" href="{% static "/css/login.css" %}">
</head>

<body>
	<div class="logo">
		<button class="frstprt"><a href="/" style="color: black;">Hash</a></button>
		<button class="scndprt"><a href="/" style="color: rgb(241, 93, 113)">in</a></button>
	</div>
	<form class="box" action="/register/" method="POST">
		{% csrf_token %}
		<h2>Login</h2>
		{{form.username}}
		{{form.password}}
		<input type="submit" name="" value="login">
	</form>
</body>
{% load static %}
<script src="{% static "/js/login.js" %}"></script>

</html>