{% extends "header.html" %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static "/css/submit.css" %}">
<div class="edtor">
	<div class="hdredtr" id="hdredtr"></div>
	<div readonly draggable="false" class="lnnum" id="lnnum">
		<button class="b1">1</button>
		<button class="b2">2</button>
		<button class="b3">3</button>
	</div><textarea class="maed" id="maed">print("Hello, World!)</textarea>
</div>

{% load static %}
<script src="{% static "/js/submit.js" %}"> </script>
{% endblock %}