.edtor {
	margin-left: 5%;
	margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(10, 7%);
	grid-row-gap: 0;
	grid-auto-rows: minmax(55px, auto);
}

.hdredtr {
	display: block;
	border: 1px solid;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 0px;
	background-color: rgb(212, 222, 235);
	grid-column: 1 / 11;
	grid-row: 1/2;
}

.maed {
	font-size: large;
	font-family: monospace;
	resize: none;
	outline: none;
	border: 1px solid;
	border-radius: 0px 0px 0px 0px;
	border-left: none;
	white-space: nowrap;
	grid-column: 2 / 11;
	grid-row: 2 / 10;
	vertical-align: top;
	height: 440px;
	width: calc(100% - 1px);
	overflow: auto;
}

.maed::selection {
	color: white;
	background-color: green;
}

.lnnum {
	display: flex;
	flex-direction: column;
	border: 1px solid;
	text-align: center;
	outline: none;
	resize: none;
	background-color: rgb(212, 222, 235);
	cursor: default;
	font-size: large;
	font-family: monospace;
	border-radius: 0px 0px 0px 8px;
	overflow: hidden;
	grid-column: 1 / 2;
	grid-row: 2 / 10;
}

.lnnum::-webkit-scrollbar {
	width: 0px;
}

.lnnum::selection {
	color: none;
	background: none;
}

.b1 {
	font-size: large;
	background-color: transparent;
	border: none;
	outline: none;
}

.words::selection {
	color: white;
	background-color: green;
}

.words {
	font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
	.words {
		font-family: 'Fira Code', monospace;
	}
}

.sbmt-code {
	width: 90px;
	height: 30px;
	margin-left: calc(30% - 45px);
	margin-top: 2%;
}